@{
    ViewBag.Title = "About";
}
<h2 style="text-decoration:underline;">@ViewBag.Title</h2>

<p style="font-size:large;">
    <h3>Here is what RateMe is all about </h3>
    <ul>
    <li> It helps the user to select their choice of entertainment so they never regret their time spent. </li>
    <li> It allows a user to visit the reviews created by other users and add new reviews for an existing entertainment property. </li>
    <li> Users can create, edit, and delete a new Movie, Music, and Show if it is not already existing.  </li>
    <li> Upon creating the entertainment property a user can leave reviews for it.  </li>
    <li> To add reviews users must locate existing entertainment or create a new one. </li>
    </ul>
</p>
