@{
    ViewBag.Title = "Contact";
}
<h2 style="text-decoration:underline;">@ViewBag.Title</h2>

<address>
    12175 Visionary Way<br />
    Fishers, IN 46038<br />
    <abbr title="Phone">P:</abbr>
    209.324.4073
</address>

<address>
    <strong>Support:</strong>   <a href="">er.gurpreet.2017@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="">er.gurpreet.2017@gmail.com</a>
</address>