@{
    ViewBag.Title = "Home Page";
}
<div>

<div style="padding-right:2px; " >
    <h1 style="text-align:center; color:green;">RateMe</h1>
    <p class="lead">RateMe is a free platform for users to visit existing reviews or create a new review for their favorite Movie, Music, and Show.  </p><hr />
    <h3  style="color:green;">Here is How RateMe Works</h3>
    <ul >
        <li>Register and Log in under Account to see all the options.</li>
        <li>Find your choice of Entertainment to see the existing reviews or to create a new one. </li>
        <li>If there are no previous entries you must add the Movie, Music, or Show to create a review. </li>
    </ul>
    <h3 style="color:green;">Here is What RateMe Does for You</h3>
    <ul>
        <li>Narrows down the search/selection of entertainment according to the name.  </li>
        <li>You can see the average rating, all the ratings, and all reviews posted by other users.</li>
        <li>You can see the entries created by other users and add your reviews to it. </li>
    </ul><hr />
<div class="row" style="        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
    <div class="col-md-4">
        <h2 style="color:red">Review</h2>
        <ul>
           See what others have posted to select your next entertainment type.
        </ul>
    </div>
    <div class="col-md-4">
        <h2 style="color:red">Create</h2>
        <ul>
            Movie, Music, and Show to create a Review.
        </ul>
    </div>
    <div class="col-md-4">
        <h2 style="color: red">Post</h2>
        <ul>
           Post Review for your recent watched Movie, Music, and Show.
        </ul>
    </div>
</div>
</div><hr />
    <h3 style="text-align:center;color:green;">You can never go wrong with RateMe</h3>
    <h3 style="text-align:center;color:green;">It can save you from wasting your time on something you don't like.</h3>
</div>
